{% extends "servops/MAIN/main_dashboard.html" %}
{% load static %}

{% block title %}Gestion - Type de serveurs{% endblock %}

{% block header %}Actions - Disponible{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'server_types_crud' %}">Types Serveurs</a></li>
    </ul>
{% endblock %}

{% block content %}
<h2>Créer un type de serveur :</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Créer</button>
</form>

{% endblock content %}
