{% extends "servops/MAIN/main_dashboard.html" %}
{% load static %}

{% block title %}Gestion - Type de serveurs{% endblock %}

{% block header %}Actions - Disponible{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'dashboard' %}" class="button">Dashboard</a></li>
    <li><a href="{% url 'create_server_type' %}" class="button">Créer</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
<h2> Liste des types de serveurs </h2>
<table class="table-user">
    <tr> <th>ID</th> <th>Type</th> <th>Description</th> <th>Actions</th> </tr>
{% for server_type in server_types %}
    <tr> 
        <td>{{server_type.id}}</td> 
        <td>{{server_type.type}}</td> 
        <td>{{server_type.description}}</td>
        <td>
            <a href="{% url 'update_server_type' server_type.id %}">Modifier</a>
            <form action="{% url 'delete_server_type' server_type.id %}" method="post" class="inline">
                {% csrf_token %}
                <input type="submit" value="Supprimer">
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock content %}
