{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Gestion des Applications{% endblock %}
{% block header %}Gestion des Applications{% endblock %}

{% block sidebar %}
    <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
    <li><a href="{% url 'users_crud'%}">Utilisateurs</a></li>
{% endblock %}

{% block content %}
<h2>Liste des Applications</h2>
<div class="container">
    {% for application in applications %}
    <div class="service-box">
        <h3>{{ application.name }}</h3>
        <img src="{{ application.logo.url }}" alt="{{ application.name }}" class="image-upload">
        <p>Créé par: {{ application.user }}</p>
        <h3>Services associés :</h3>
        <ul>
            {% for service in application.services.all %}
            <li>{{ service.name }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'update_application' application.id %}">Modifier</a>
        <form action="{% url 'delete_application' application.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Supprimer">
        </form>
    </div>
    {% endfor %}
</div>
<a href="{% url 'create_application' %}">Ajouter une nouvelle application</a>
{% endblock %}