{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>{% block title %}Titre de la Page{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ul>
        </nav>
        <h1 id="titre-dashboard">{% block header %}{% endblock header %}</h1>
    </header>
    <aside class="bar">    
        <ul>
            {% block sidebar %}
            {% endblock sidebar %}
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
