{% extends 'servops/MAIN/main_dashboard.html' %}
{% block title %}Liste des Serveurs{% endblock %}
{% block header %}Actions - Disponible{% endblock %}
{% block content %}
<h2>Liste des serveurs</h2>
<div class="container">
    {% for server in servers %}
    <div class="service-box">
        <p>Nom : {{ server.name }}</p>
        <p>Type : {{ server.server_type.type }}</p>
        <p>Nombre de processeurs : {{ server.num_processors }}</p>
        <p>Capacité de mémoire : {{ server.memory_capacity }} Mo</p>
        <p>Capacité de stockage : {{ server.storage_capacity }} Go</p>
        <p>
            <a href="{% url 'update_server' server.id %}">Modifier</a>
            <a href="{% url 'delete_server' server.id %}">Supprimer</a>
        </p>
    </div>
    {% endfor %}
</div>
<a class="style-link" href="{% url 'create_server' %}">Ajouter un nouveau serveur</a>
{% endblock content %}