{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard{% endblock %}

{% block header %}Mon Pannel d'Administration{% endblock %}
{% block content %}
    <p>Bienvenue sur mon pannel d'administration !</p>

    <h1>Voici la liste des serveurs :</h1>
    <ul>
        {% for server in servers %}
            <li>{{ server.name }}</li>
        {% endfor %}
{% endblock %}       

{% block sidebar %}
    <li><a href="{% url 'index'%}">Acceuil</a></li>
    <li><a href="{% url 'applications_home'%}">Applications</a></li>
    <li><a href="{% url 'servers_crud'%}">Serveurs</a></li>
    <li><a href="{% url 'services_crud' %}">Services</a></li>
    <li><a href="{% url 'server_types_crud' %}">Types de Serveurs</a></li>
    <li><a href="{% url 'users_crud'%}">Utilisateurs</a></li>

{% endblock %}
