{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard{% endblock %}

{% block header %}Mon Pannel d'Administration{% endblock %}

{% block content %}
<h2>Liste des Serveurs</h2>
<div class="container">
    {% for server in servers %}
    <div class="service-box">
        <h3>{{ server.name }}</h3>
        <ul>
            <li><strong>Type de serveur :</strong> {{ server.server_type }}</li>
            <li><strong>Nombre de processeurs :</strong> {{ server.num_processors }}</li>
            <li><strong>Capacité de mémoire :</strong> {{ server.memory_capacity }} Mo</li>
            <li><strong>Capacité de stockage :</strong> {{ server.storage_capacity }} Go</li>
        </ul>

        <h4>Ressources restantes :</h4>
        <li><strong>Processeurs libres :</strong> {{ server.free_processors }}</li>
        <li><strong>Capacité de mémoire restante :</strong> {{ server.free_ram }} Mo</li>
        <li><strong>Capacité de stockage restante :</strong> {{ server.free_stockage }} Go</li>
        
        <h4>Applications associées :</h4>
        <ul>
            {% for application in server.applications.all %}
            <li>{{ application.name }}</li>
            {% endfor %}
        </ul>
        
        <h4>Services associés :</h4>
        <ul>
            {% for service in server.services.all %}
            <li><strong>{{ service.name }}</strong></li>
            <li>Mémoire vive utilisé : {{ service.required_memory }} Mo</li>
            <li>Stockage requis : {{ service.memory_used }} Go</li>
            <li>Nombre de processeurs utilisé : {{ service.required_processors }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block sidebar %}
    <li><a href="{% url 'index'%}">Acceuil</a></li>
    <li><a href="{% url 'applications_home'%}">Applications</a></li>
    <li><a href="{% url 'servers_crud'%}">Serveurs</a></li>
    <li><a href="{% url 'services_crud' %}">Services</a></li>
    <li><a href="{% url 'server_types_crud' %}">Types de Serveurs</a></li>
    <li><a href="{% url 'users_crud' %}">Utilisateurs</a></li>
    <li><a href="{% url 'import_csv' %}">Importer CSV</a></li>
{% endblock %}
