{% extends 'servops/MAIN/main_home.html' %}

{% block title %}Accueil{% endblock %}


{% block content %}
    <div class="texte_accueil">
        <h1>Présentation du projet</h1>
        <p>ServOps est un site de gestion des services informatiques</p>
        <p> Comment ça fonctionne ? </p>

        <p>Bienvenue sur ServOps ! Nous vous offrons une interface de gestion complète pour vos serveurs informatiques et les services qui y sont déployés. Découvrez nos fonctionnalités clés qui facilitent la gestion et l’optimisation de votre infrastructure.</p>


        <ul>
            <li>
                <p>Gestion des serveurs <br> Notre plateforme permet une gestion efficace de vos serveurs. Ajoutez, modifiez ou supprimez des serveurs avec des informations détaillées telles que :</p>
            </li>
                <ul>
                    <li>Nom du serveur</li>
                    <li>Type du serveur</li>
                    <li>Nombre de processeurs</li>
                    <li>Capacité mémoire</li>
                    <li>Capacité de stockage</li>
                </ul>
        </ul>

        <ul>
            <li>
                <p>Gestion des types de serveurs <br> Définissez et gérez différents types de serveurs en spécifiant leurs caractéristiques uniques. Assurez-vous que chaque serveur est classé correctement selon ses capacités et son usage.</p>
            </li>
        </ul>

        <ul>
            <li>
                <p>Gestion des utilisateurs <br> Administrez facilement vos utilisateurs avec des fonctions de création, modification et suppression. Les informations gérées incluent :</p>
            </li>
                <ul>
                    <li>Nom</li>
                    <li>Prénom</li>
                    <li>Email</li>
                </ul>
        </ul>

        <ul>
            <li>
                <p>Gestion des services <br> Déployez et gérez des services sur vos serveurs en tenant compte des ressources disponibles. Chaque service est défini par :</p>
            </li>
                <ul>
                    <li>Nom du service</li>
                    <li>Date de lancement</li>
                    <li>Espace mémoire utilisé</li>
                    <li>Mémoire vive nécessaire</li>
                    <li>Serveur de lancement</li>
                </ul>
        </ul>

        <ul>
            <li>
                <p>Gestion des applications <br> Intégrez des applications et leurs services associés sur vos serveurs. Chaque application comprend :</p>
            </li>
                <ul>
                    <li>Nom de l'application</li>
                    <li>Logo</li>
                    <li>Utilisateur associé</li>
                </ul>
        </ul>

        <ul>
            <li>
                <p>Gestion des ressources <br> Optimisez l'utilisation des ressources en liant les applications aux services nécessaires (web, base de données, stockage ...).</p>
    </div>

{% endblock %}

