{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard{% endblock %}

{% block header %}Mon Pannel d'Administration{% endblock %}

{% block content %}
<div class="container">
    <div class="service-box">

        <h2>Comment ça fonctionne ?</h2>
        <p>Vous pouvez importer des données depuis un fichier CSV. Les données doivent être formatées de la manière suivante :</p>
        <ul>
            <li>Les colonnes doivent être séparées par des virgules</li>
            <li>La première ligne doit contenir les noms des colonnes</li>
            <li>Les applications et services doivent être séparés par des virgules</li>
        </ul>

        <p>Voici un exemple de données formatées correctement :</p>
        <h3>Exemple pour ajotuer un service :</h3>
        <pre>
            name,launch_date,memory_used,required_memory,launch_server
            Service 1,2024-05-01,1024,2048,Serveur 1 
        </pre>
        <h3>Exemple pour ajouter une application :</h3>
        <pre>
            name,logo,user,services,launch_server
            Application 1,logos/logo1.png,John Doe,Service 1|Service 2,Serveur 1
        </pre>
        
        <h2>Importer des données</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Importer</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="service-box">
        <h2>Prévisualisations des données :</h2>
    </div>
</div>
{% endblock %}


{% block sidebar %}
    <li><a href="{% url 'index'%}">Acceuil</a></li>
    <li><a href="{% url 'applications_home'%}">Applications</a></li>
    <li><a href="{% url 'servers_crud'%}">Serveurs</a></li>
    <li><a href="{% url 'services_crud' %}">Services</a></li>
    <li><a href="{% url 'server_types_crud' %}">Types de Serveurs</a></li>
    <li><a href="{% url 'users_crud'%}">Utilisateurs</a></li>
    <li><a href="{% url 'import_home' %}">Importer</a></li>
{% endblock %}
