{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard{% endblock %}

{% block header %}Mon Pannel d'Administration{% endblock %}

{% block content %}
<div class="container">
    <div class="service-box">

        <h2>Comment ça fonctionne ?</h2>
        <p>Vous pouvez importer des données depuis un fichier CSV. Les données doivent être formatées de la manière suivante :</p>
        <ul>
            <li>Les colonnes doivent être séparées par des virgules</li>
            <li>La première ligne doit contenir les noms des colonnes</li>
            <li>Les applications et services doivent être séparés par des virgules</li>
        </ul>

        <p>Voici un exemple de données formatées correctement :</p>
        <h3>Exemple pour ajotuer un service :</h3>
        <pre>
            name,launch_date,memory_used,required_memory,launch_server
            Service A,2024-05-01,256,512,Serveur Bat A
            Service B,2024-06-15,128,256,Serveur Bat A
            Service C,2024-07-20,512,1024,Serveur Bat A
        </pre>
        <h3>Exemple pour ajouter une application :</h3>
        <p>Le choix du logo n'est pas disponible.</p>
        <pre>
            name,user_first_name,user_last_name,user_email,services,launch_server
            Application 1,Loïc,Maurer,loicmaurer0@gmail.com,Service 1|Service 2,Serveur Batiment A        
        </pre>
        
        <h2>Importer des données</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="service-box">
        <h2>Prévisualisations des données :</h2>
    </div>
</div>
{% endblock %}


{% block sidebar %}
    <li><a href="{% url 'index'%}">Acceuil</a></li>
    <li><a href="{% url 'applications_home'%}">Applications</a></li>
    <li><a href="{% url 'servers_crud'%}">Serveurs</a></li>
    <li><a href="{% url 'services_crud' %}">Services</a></li>
    <li><a href="{% url 'server_types_crud' %}">Types de Serveurs</a></li>
    <li><a href="{% url 'users_crud'%}">Utilisateurs</a></li>
{% endblock %}
