{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard - Informations Services{% endblock %}

{% block header %}Récuperation - ID{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'services_crud' %}">Services</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="container">
    <div class="service-box">
        <h2>Informations sur services</h2>
            <p>Voici les informations du services {{ service.id }} :</p>
            <ul>
                <li><p>Nom : {{service.name}}</p></li>
                <li><p>Date de lancement : {{service.launch_date}}</p></li>
                <li><p>Mémoire utilisée : {{service.memory_used}}</p></li>
                <li><p>Mémoire requise : {{service.required_memory}}</p></li>
                <li><p>Processeurs requis : {{service.required_processors}}</p></li>
                <li><p>Serveur de lancement : {{service.launch_server.name}}</p></li>
            </ul>
        <a href="{% url 'services_crud' %}">Continuer</a>
    </div>
</div>
{% endblock %}