{% extends "servops/MAIN/main_dashboard.html" %}
{% load static %}

{% block title %}Gestion - Services{% endblock %}

{% block header %}Actions - Disponible{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'dashboard' %}" class="button">Dashboard</a></li>
    <li><a href="{% url 'create_service' %}" class="button">Créer</a></li>
    <li><a href="{% url 'delete_service' %}" class="button">Supprimer</a></li>
    <li><a href="{% url 'read_service' %}" class="button">Chercher</a></li>
    <li><a href="#" class="button">Mettre à jour</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
<h2>Services</h2>
<p>Voici la liste des services :</p>
<div class="container">
    {% for service in services %}
    <div class="service-box">
        <p>ID : {{service.id}}</p>
        <p>Nom : {{service.name}}</p>
        <p>Date de lancement : {{service.launch_date}}</p>
        <p>Mémoire utilisée : {{service.memory_used}}</p>
        <p>Mémoire requise : {{service.required_memory}}</p>

        <p>Liste des serveurs qui lancent le service :</p>
        <ul>
            {% for server in servers %}
            <li><p>{{server.name}}</p></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>


<h2>Télécharger un rapport complet des services :</h2>
<button>
    <a href="{% url 'pdf' %}">Télécharger</a>
</button>
{% endblock content %}
