{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard - See Services{% endblock %}

{% block header %}Récuperation - ID{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'services_crud' %}">Services</a></li>
    </ul>
{% endblock %}

{% block content %}
    <p>Action : Read</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Lire</button>
    </form>
{% endblock %}