{% extends "servops/MAIN/main_dashboard.html" %}
{% load static %}
{% block title %}Création - Utilisateurs{% endblock %}
{% block header %}Créer un nouvel utilisateur{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="#" class="button">Ac</a></li>
    <li><a href="#" class="button">Supprimer</a></li>
    <li><a href="#" class="button">Mettre à jour</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
<h2>Créer un nouvel utilisateur</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Créer</button>
</form>
{% endblock content %}

