{% extends 'servops/MAIN/main_dashboard.html' %}

{% block title %}Mon Dashboard - ID{% endblock %}
{% block header %}Utilisateur Récuperation - ID{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'users_crud' %}">Utilisateurs</a></li>
    </ul>
{% endblock %}

{% block content %}
    <p>Action : Delete</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Supprimer</button>
    </form>
{% endblock %}
