{% extends "servops/MAIN/main_dashboard.html" %}
{% load static %}

{% block title %}Gestion - Utilisateurs{% endblock %}

{% block header %}Utilisateurs -  Affichage {% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'dashboard' %}" class="button">Dashboard</a></li>
    <li><a href="{% url 'create_users' %}" class="button">Créer</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
<h2> Liste des Utilisateurs </h2>
<table class="table-user">
    <tr> <th>ID</th> <th>FN</th> <th>LN</th> <th>Email</th> <th>Actions</th> </tr>
{% for user in users %}
    <tr> 
        <td>{{user.id}}</td> 
        <td>{{user.first_name}}</td> 
        <td>{{user.last_name}}</td> 
        <td>{{user.email}}</td>
        <td>
            <a href="{% url 'update_users' user.id %}">Modifier</a>
            <form action="{% url 'delete_users' user.id %}" method="post" class="inline">
                {% csrf_token %}
                <input type="submit" value="Supprimer">
            </form>
        </td>
    </tr>
{% empty %}
    <li>Aucun utilisateur trouvé.</li>
{% endfor %}
</table>
{% endblock content %}
