{% extends "servops/MAIN/main_dashboard.html" %}
{% load static %}

{% block title %}Gestion - Utilisateurs{% endblock %}

{% block header %}Actions - Disponible{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'create_users' %}" class="button">Créer</a></li>
    <li><a href="{% url 'delete_users' %}" class="button">Supprimer</a></li>
    <li><a href="#" class="button">Mettre à jour</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
{% for user in users %}
    <li>ID: {{ user.id }}, Email: {{ user.email }}</li>
    {% empty %}
    <li>Aucun utilisateur trouvé.</li>
{% endfor %}
{% endblock content %}